<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="digital.wup.prefessor">

    <application>
        <provider
            android:name="digital.wup.prefessor.internal.ContextContentProvider"
            android:authorities="digital.wup.prefessor.internal.ContextContentProvider"
            android:exported="false" />
    </application>

</manifest>